.addProdInDay {
  width: 50%;
  position: relative;
  max-height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.144);
  padding: 10px 0 0 0;
  background: #fff;
  border-radius: 5px;

  .daySelects {
    width: 100%;
    padding: 0 10px 10px;
    z-index: 10;
    position: relative;

    .myInputs {
      width: 33% !important;
      max-width: 400px !important;

      h6 {
        margin-bottom: 2px;
      }

      .input {
        border-radius: 3px;
        border: 1px solid #e1dede !important;
        padding: 2px 10px;
        width: 100%;
        font-size: 13px;
        height: 38px;

        &::placeholder {
          color: #a9afb8;
        }

        &:focus {
          border: 1px solid #6a696987;
          outline: none;
        }
      }
    }

    > button {
      height: 30px;
      background: #299b31;
      padding: 2px 10px 3px 10px;
      border-radius: 5px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      p {
        font-size: 12px;
      }
    }
  }

  .input {
    display: flex;
    gap: 8px;
    align-items: center;

    input {
      width: 50px;
      height: 18px;
      border-radius: 3px;
      border: 1px solid #e1dede;
      font-size: 11px;
      padding: 0 3px;

      &::placeholder {
        color: #a9afb8;
      }

      &:focus {
        border: 1px solid #6a696987;
        outline: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
    }
  }
}

.indridients {
  .daySelects {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 7px;
  }

  .standartTable {
    box-shadow: none !important;
    height: calc(100% - 80px);

    .counts {
      height: 24px;
    }

    button {
      > svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
