.everyOrder {
  padding: 2px;
  padding-right: 20px;
  height: 100%;

  &__inner {
    height: 100%;

    h6 {
      font-size: 11px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .name {
      font-size: 11px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .status {
      &__inner {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        // border: 2px solid rgb(47, 196, 99);
        border-top-color: transparent;
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 990;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0 1px 5px 0 rgba(65, 69, 88, 0.1),
          0 3px 6px 0 rgba(0, 0, 0, 0.07);

        &:hover {
          span {
            display: block;
          }
        }

        svg {
          width: 80%;
        }
      }

      span {
        position: absolute;
      }
    }
  }

  .moreInfoOrders {
    background: red;
    p {
      font-size: 10px;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
