.wareHomePage {
  height: 100%;
  padding: 10px;
  position: relative;
  padding: 0px 8px 8px;

  &__menu {
    position: fixed;
    top: 13px;
    left: 273px;
    z-index: 21;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    button {
      align-items: center;
      background: #0000;
      border: 1px solid #d5d2d2;
      border-radius: 5px;
      display: flex;
      gap: 5px;
      justify-content: center;
      padding: 4px 20px;
      height: 38px;

      p {
        color: #1976d2;
        font-size: 14px;
        font-weight: 500;
      }

      svg {
        color: #1976d2;
      }
    }

    .active {
      background: #1976d2;

      p {
        color: #fff;
      }

      svg {
        color: #fff;
      }
    }
  }

  &__invoice {
    height: 100%;
    display: flex;
    gap: 10px;

    > div:nth-child(1) {
      width: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.144) !important;
    }

    > div:nth-child(2) {
      width: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.144) !important;
    }
  }
}
