$widthMenu: 320px;
$widthAllContent: 100%;

.layouts {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: #f5f5f5;
  position: relative;

  .pages {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    padding: 0 0 60px 0;
  }

  //// только для админа
  .adminInfo {
    padding: 0 !important;

    .plan {
      display: none;
    }

    .mainPage {
      height: 98vh;

      .menuLeft {
        &__inner {
          padding: 12px 10px;
        }
      }
    }
  }
}
