.reportSummaryWeekMain {
  height: calc(100% - 60px);

  &__inner {
    height: calc(100% - 277px);

    .list {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px 0px 0px;
      height: 50%;
      // height: 100%;
    }
  }
}
