.menuAdmin {
  .everyItem,
  .innerItem {
    cursor: pointer !important;
  }

  .active {
    background: rgba(0, 123, 255, 0.1) !important;

    &:hover {
      background: rgba(0, 123, 255, 0.2) !important;
    }
  }
}
/// #1565c0
