.viewAgents {
  height: 100%;
  width: 100%;

  .mapAgents {
    height: 100%;
    display: flex;
    gap: 3px;
    width: 100%;
  }

  #map-container-admin {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .marker {
    position: relative;

    &__inner {
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 50%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border: 6px solid #a1cdec;
      position: relative;
      animation: blinkMap 1s infinite;

      i {
        display: block;
        width: 12px;
        height: 12px;
        background: #0088ff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .deActive {
      border: 6px solid #ecafa1;

      i {
        content: "";
        background: #ff4400;
      }
    }

    &:hover {
      .marker__name {
        display: block;
      }
    }

    &__name {
      position: absolute;
      left: 25px;
      bottom: 25px;
      background: #fff;
      padding: 4px 7px;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        font-size: 12px;
        line-height: 13px;
        font-weight: 500;
        height: 15px;
        margin: 0;
      }
    }
  }
}

@keyframes blinkMap {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
