.viewReportVisit {
  width: calc(100% - 0px);
  height: 330px;
  min-height: 330px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;

  .mapMenuInfo {
    width: 470px !important;
    max-width: 470px !important;
    min-width: 470px !important;
    height: calc(320px - 20px);
    margin: 10px;
    background: #fff;
    padding: 10px 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 5px;

    &__title {
      padding: 0 5px;

      h5 {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 7px;
        color: #888ea8;
        color: rgb(209, 36, 36);
        text-decoration: underline;
        cursor: pointer;
      }

      .active {
        color: #00ab55;
      }

      .userSeller {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: right;

        .seller {
          width: 100%;

          p {
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            margin: 5px 0;
            color: #888ea8;
          }

          &__inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;

            svg {
              width: 20px;
              height: 20px;
              color: #888ea8;
            }
          }
        }
      }

      .time {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 5px 0;

        svg {
          width: 20px;
          height: 20px;
          color: #888ea8;
        }

        p {
          font-size: 14px;
          color: #888ea8;
        }
      }
    }
  }

  .viewFiles {
    text-decoration: underline;
    cursor: pointer;
  }
}
