.settingsPage {
  height: 100%;
  padding: 60px 0 0 0;

  .plan__header {
    .logoutParent {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
    }

    .logoutInner {
      position: relative;
      width: 70%;
      height: 70%;
      border: 4px solid #2c3e50;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }

    .lineLogOut {
      background-color: #f3f3f3;
      padding: 3px 4px;
      position: absolute;
      top: -9px;
      align-self: center;
      left: 50%;
      transform: translateX(-50%);

      &__inner {
        width: 5px;
        height: 17px;
        background-color: #2c3e50;
        border-radius: 5px;
      }
    }
  }

  .payCredit {
    height: 100%;

    button {
      background-color: rgba(47, 71, 190, 0.591); /// #00ab55
      border-radius: 5px;
      color: #fff;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      margin: 0px auto 5px;
      min-width: 97%;
      padding: 13px 0;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    h6 {
      background-color: rgba(47, 71, 190, 0.591);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 8px;
    }

    &__list {
      padding: 0px 8px;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: #d4dfee78;
        border: 1px solid rgba(47, 71, 190, 0.107);
        border-radius: 5px;
        margin: 8px auto;
        padding: 10px;
        width: 100%;

        .mainData {
          width: 70%;

          p {
            color: rgba(47, 71, 190, 0.687);
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
          }
          span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
          }
        }

        .status {
          width: 30%;
          p {
            color: #0ca946e6;
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.createPay {
  .sendData {
    width: 100%;
    background-color: #0ca946e6;
    border: 1px solid #d9dfe8;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    min-width: 100%;
    padding: 13px 10px;
  }
}
