.mapForChoiceTT {
  position: relative;
  height: 102%;

  #mapTT {
    height: 100% !important;
    width: 100% !important;
  }

  .marker {
    position: relative;

    &__inner {
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 50%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border: 6px solid #a1cdec;
      position: relative;
      animation: blinkMap 1s infinite;

      i {
        display: block;
        width: 12px;
        height: 12px;
        background: #0088ff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__actions {
    position: absolute;
    z-index: 20;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      width: 150px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .clearMapBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      padding: 8px 10px;
      background-color: rgba(213, 42, 42, 0.848);
      border-radius: 4px;

      p {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }
    }

    .saveCoords {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      padding: 8px 10px;
      background-color: #00ab55;
      border-radius: 4px;

      p {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
