.menuLeft {
  max-width: 260px;
  padding: 1px 10px 0 0;
  margin: 10px 0 0 0;
  height: 98vh;

  &__inner {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 10px 0 10px 0;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 1px;
        background: #22222236;
      }

      h2 {
        font-weight: 500;
        font-size: 14px;
        margin: 10px 0 0 0;
      }

      button {
        width: 22px;
        height: 22px;
        background: transparent;
      }
    }

    .content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    }

    .content.show {
      max-height: 100%;
      opacity: 1;
      padding: 0px 10px 0 0px;
      overflow-y: scroll;
      margin: 5px 0 0 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0px;
      width: 235px;

      li {
        margin-left: 2px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        gap: 5px;
        cursor: pointer;

        .logo {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 16px;
            height: 16px;
            border-radius: 50%;
          }

          .logoBig {
            display: none;
            width: 100px;
            height: 100px;
          }
        }

        .toggle-switch {
          position: relative;
          display: inline-block;
          width: 28px;
          min-width: 28px;
          height: 14px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 34px;

            &:before {
              position: absolute;
              content: "";
              height: 10px;
              width: 10px;
              left: 2px;
              bottom: 2px;
              background-color: white;
              transition: 0.4s;
              border-radius: 50%;
            }
          }

          input:checked + .slider {
            background-color: #87b5e3;
          }

          input:checked + .slider:before {
            transform: translateX(14px);
          }
        }

        p {
          font-size: 13px;
          font-weight: 400;
          height: 24px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 24px;
        }
      }
    }
  }
}
