.mapHistory {
  height: 100%;
  width: 100%;
  position: relative;

  &__header {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: #ffffffc3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .select {
      width: 300px;
    }

    .date {
      width: 300px;

      input:last-child {
        height: 30px;
        border-radius: 5px;
        border: 1px solid #e1dede !important;
        padding: 2px 10px;
        width: 100%;
        font-size: 12px;

        &::placeholder {
          color: #6b72809e;
        }

        &:focus {
          border: 1px solid rgba(89, 89, 89, 0.529);
          outline: none;
        }
      }
    }
  }

  #mapContainerHistory {
    height: 100%;
    width: 100%;

    .mapgl_RyvsmCnoVe7ui2MClLMS {
      margin: 80px 10px 0 0;
    }
  }
}
