.mapMenuSlider {
  height: 270px;
  width: 100%;
  position: relative;
  margin: 0px 0px;

  .everySlide {
    width: 100%;
    height: 280px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px;
    position: relative;

    .dateTime {
      background: rgb(255, 255, 255);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      color: #222;
      position: absolute;
      left: 10px;
      bottom: 25px;
      padding: 5px 10px;
      border-radius: 0px 5px 0px 3px;
      p {
        font-size: 14px;
        color: #000;
      }
    }

    .photoBlock {
      height: 230px;
      width: 100%;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      img {
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .videoBlock {
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      width: 100%;
      border-radius: 3px;

      .dateTime {
        bottom: 229px;
        border-radius: 3px 0px 5px 0px;
      }

      video {
        height: 230px;
        object-fit: contain;
        width: 100%;
      }
    }
  }
  .prev,
  .next {
    width: 40px;
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    top: 45%;
    transform: translateX(-50%);
    z-index: 20;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    //   display: none;

    svg {
      width: 90%;
      color: rgb(86, 85, 85);
    }
  }

  .prev {
    transform: rotate(-180deg);
    left: 20px;
  }

  .next {
    right: 0px;
  }

  // &:hover {
  //   .prev,
  //   .next {
  //     display: flex;
  //   }
  // }
}
