.viewAllAgents {
  height: 100vh;
  padding: 10px;
  position: relative;
  padding: 65px 0px 0px;
  background: #f6f5f7;

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    .listActions {
      flex: 1;

      &__inner {
        display: flex;
        gap: 10px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 4px 6px 4px;
          background: transparent;
          border-radius: 5px;
          border: 1px solid #d5d2d2;

          svg {
            width: 20px;
            height: 20px;
          }

          p {
            font-size: 13px;
            font-weight: 400;
            color: #fff;
          }
        }

        .active {
          background: #fff;

          svg {
            color: #1976d2 !important;
          }

          p {
            color: #1976d2 !important;
          }
        }
      }
    }
  }

  &__info {
    height: 100%;
    display: flex;
    gap: 3px;

    // .listAgents {
    //   width: 30%;
    //   padding: 0 0 0 5px;
    // }

    .mapAgents {
      width: 100%;
      min-height: 100%;
    }
  }
}
