.createRoute {
  .sendBlock {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .sendData {
      width: 160px;
      margin: 15px 0 0 0;
      font-size: 14px;
      padding: 8px 20px;
      color: #fff;
      background: #00ab55;
      border-radius: 5px;
    }
  }
  .time {
    input {
      min-width: 376px !important;
    }

    .react-datepicker-popper {
      left: 0 !important;
    }

    .react-datepicker__tab-loop {
      div {
        width: 200px !important;
        left: 50px !important;

        .react-datepicker__time-container {
          > div {
            left: 2px !important;
            width: 198px !important;

            div {
              width: 198px !important;
            }
          }
        }
      }
    }
  }
}
