.generateBlock {
  .modal {
    &__inner {
      width: 50%;
      top: 54% !important;

      > h6 {
        padding: 12px 40px 8px 12px !important;
        font-size: 14px;
        font-weight: 500;
        // color: #4361ee;
        // display: none;
      }

      .content {
        padding: 5px !important;

        iframe {
          height: 85vh !important;
          width: 100%;
        }
      }
    }
  }
}

.activePdf {
  height: 32px;
  background: #1976d2;
  padding: 2px 10px 3px 10px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg {
    width: 16px;
    height: 16px;
  }

  p {
    font-size: 12px;
  }
}
