.actionsRouteTA {
  .titlesInfo {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 5px 0;

      .logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid #222;

        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .user {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          font-weight: 500;
          text-align: right;
          text-decoration: none;
        }
      }
    }

    > p {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .listActions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 25px 0px;

    div {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      padding: 0 20px;
      gap: 8px;
      background: #00ab55;

      p {
        font-size: 17px;
        font-weight: 500;
        color: #fff;
      }

      svg {
        width: 25px;
        height: 25px;
        color: #fff;
      }
    }
  }
}
