.searchShop {
  width: 100%;

  .logo {
    width: 100%;
    text-align: left;
    margin: 10px 0 10px 0;
    background: #f5f5f5;
    height: 50px;

    img {
      width: 80%;
      height: 100%;
    }
  }

  input {
    padding: 2px 10px;
    font-size: 13px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #6a696987;
    width: 100%;

    &::placeholder {
      color: #a9afb8;
    }

    &:focus {
      border: 1px solid #6a696987;
      outline: none;
    }
  }
}
