.mainBlockIngrid {
  width: 100%;
  padding: 80px 15px 2px;
  height: 100vh;
  position: relative;

  &__inner {
    position: absolute;
    left: 0px;
    width: 100%;
    right: 0px;
    top: 0px;
  }

  &__table {
    height: 100%;

    table {
      position: relative;
      thead {
        tr {
          th {
            padding: 5px 0 5px 10px !important;
            font-weight: 600;
            background: #23a5d9;
            color: #fff;
            border-right: 1px solid rgba(224, 224, 224, 1);
          }
          .titleCheckbox {
            padding-left: 15px !important;
          }
        }
      }

      tbody {
        // overflow-y: scroll;

        tr {
          td,
          th {
            padding: 3px 10px 3px 10px !important;
            // background: rgba(43, 165, 213, 0.43);
            height: 10px;
            font-size: 13px !important;
            border-right: 1px solid rgba(224, 224, 224, 1);
          }

          .footerTable {
            font-weight: bold !important;
            height: 40px !important;
          }
        }
      }
    }

    > div {
      max-height: 100%;

      &::-webkit-scrollbar {
        min-width: 7px;
        max-width: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        min-width: 7px;
        max-width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        cursor: pointer;
        max-height: 35px;
        min-height: 35px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fffefe;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #5da3e9;
        border-radius: 2px;
      }
    }
  }
}
