.postList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.postList .List {
  background: gray;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s;
}
.postList .List:hover {
  transform: scale(1.12);
}
.postList h2 {
  max-width: 580px;
  margin: 6px auto;
  color: #fff;
}

.postList p {
  max-width: 900px;
  margin: 25px auto;
  font-size: 20px;
  color: black;
}
.postList .userId {
  color: #000;
  font-size: 20px;
}
.postList .forSearch {
  display: flex;
  gap: 10px;
  align-items: center;
}
.forSearch span {
  color: #f5f5f5;
  font-size: 18px;
}
.forSearch input {
  padding: 4px 8px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  width: 320px;
  text-align: center;
}

.forSearch .inputNumber {
  width: 100px;
  text-align: center;
}
