.textMaps {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

// .myGeoIcon {
//   position: absolute;
//   bottom: -5px;
//   left: 50%;
//   transform: translateX(-50%);
//   background: #aed3ec;
//   border-radius: 50%;
//   width: 37px;
//   height: 37px;
//   animation: pulse 1s infinite;
//   z-index: 10;

//   &::before {
//     content: "";
//     width: 23px;
//     height: 23px;
//     border-radius: 50%;
//     background: #fff;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//   }

//   &::after {
//     content: "";
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     background: #2599fc;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//   }
// }

// // Анимация пульсации
// @keyframes pulse {
//   0%,
//   100% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0.6;
//   }
// }
