.myInvoicePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 55px 0 0 0;
  position: relative;

  .indexNums {
    font-size: 18px;
    font-weight: 600;
    color: rgba(47, 71, 190, 0.672);
    border: 1px solid rgba(47, 71, 190, 0.672);
    background-color: #d4dfee;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 25px;
    border-radius: 5px;
  }

  > button:first-child {
    border-top: 1px solid rgba(47, 71, 190, 0.287);
  }

  .invoiceParent {
    background-color: rgba(162, 178, 238, 0.102);
    min-width: 100%;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(47, 71, 190, 0.287);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 58%;
      gap: 5px;
    }
  }

  .titleDate {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 17px;
    text-align: left;
    color: #222;
  }

  .role {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 17px;
    color: rgba(47, 71, 190, 0.672);
    display: -webkit-box; /* Для поддержки старых версий Safari */
    -webkit-box-orient: vertical; /* Определяет направление текста */
    -webkit-line-clamp: 1; /* Максимум 4 строки */
    overflow: hidden; /* Скрыть излишек текста */
    text-overflow: ellipsis;
  }

  .totalPrice {
    font-size: 16px;
    font-weight: 400;
    color: #222;
  }

  .comments {
    // max-width: 230px;
    display: -webkit-box; /* Для поддержки старых версий Safari */
    -webkit-box-orient: vertical; /* Определяет направление текста */
    -webkit-line-clamp: 4; /* Максимум 4 строки */
    overflow: hidden; /* Скрыть излишек текста */
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #222;
    padding: 0 0 0 5px;
  }

  .mainData {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .mainDataArrow {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    width: 37%;

    p {
      font-size: 13px;
      font-weight: 500;
      text-align: left;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 12px;
      text-align: left;
    }

    .arrows {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.navAction {
  padding: 0px 20px 2px 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(162, 178, 238, 0.839);
  position: fixed;
  left: 0;
  top: 3px;
  width: 100%;

  p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
}
