.modalProduction {
  height: 100vh;
  padding: 10px;
  position: relative;
  padding: 70px 20px 10px;

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .menu {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      button {
        align-items: center;
        background: #0000;
        border: 1px solid #d5d2d2;
        border-radius: 5px;
        display: flex;
        gap: 5px;
        justify-content: center;
        padding: 7px 10px;

        p {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .active {
        background: #fff;

        p {
          color: #1976d2;
        }

        svg {
          color: #1976d2;
        }
      }
    }
  }
}
