.hitoryTA {
  height: 100%;
  padding: 20px 20px 20px 20px;
  position: relative;

  &__main {
    height: 100%;
    display: flex;
    gap: 10px;
  }
}

.listTAInfo {
  width: 330px;
  max-width: 330px;
  min-width: 330px;
  margin: 0;
  background: #fff;
  border-radius: 7px;
  padding: 15px 5px 10px 5px;

  h6 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0 0 10px;
    font-weight: 600;
  }

  .line {
    margin: 10px 0px 0 0;
    width: 97%;
  }

  &__inner {
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: scroll;
    margin: 3px 0 0 0;
    padding: 0 5px 0 0;

    button {
      padding: 5px 3px 5px 10px;
      width: 100%;
      margin: 3px 0px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: transparent;
      border-radius: 5px;

      .logo {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .content {
        p {
          font-size: 13px;
          font-weight: 500;
          text-align: left;
          color: #222;
        }

        span {
          display: block;
          font-size: 11px;
          text-align: left;
          color: #222;
        }
      }
    }

    .active {
      background: #f3f4f6;
    }
  }
}
