.listProdCRUD_SI {
  height: 100%;

  table {
    thead {
      tr {
        th:first-child {
          padding: 5px 8px !important;
        }
      }
    }

    tbody {
      tr {
        th:first-child {
          padding: 5px 8px !important;
        }

        .footerTable {
          font-weight: bold !important;
          height: 30px !important;
        }
      }
    }
  }

  > div {
    max-height: 100%;
  }
}
