.productionPage {
  height: 100%;
  padding: 10px;
  position: relative;
  padding: 0px 8px;
}

.menuActions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 13px;
  left: 273px;
  z-index: 21;

  button {
    align-items: center;
    background: #0000;
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 7px 15px;
    height: 38px;

    p {
      color: #1976d2;
      font-size: 14px;
      font-weight: 500;
    }

    svg {
      width: 18px;
      height: 18px;
      color: #1976d2;
    }
  }

  .active {
    background: #1976d2;
    p {
      color: #fff;
    }

    svg {
      color: #fff;
    }
  }
}
