.mapBlock {
  height: 100%;

  .customMarker {
    background: transparent;
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &::before {
      content: "";
    }

    &__inner {
      animation: blink 2s infinite;
    }

    &__point {
      width: 25px;
      height: 35px;
      background-image: url("../../../assets/images/map.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__name {
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;

      p {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .startEnd {
      background: #2196f3;
      p {
        color: #fff;
      }
    }

    .wasTA {
      background: #00ab55;
      p {
        color: #fff;
      }
    }
  }

  .mapgl_RyvsmCnoVe7ui2MClLMS {
    margin: 100px 0 0 0;
  }

  .defaultMarker {
    display: none !important;
  }
}
