.viewPhotos {
  height: 100vh;
  width: 100%;

  &__selects {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 5px 5px;

    .myInputs {
      width: 48%;

      h6 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 2px;
      }

      p {
        border: 1px solid #cbcbcb;
        height: 28px;
        line-height: 27px;
        padding: 0px 10px;
        border-radius: 5px;
        font-size: 13px;
      }
    }
  }

  &__main {
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 5px 180px 5px;

    div {
      width: 32%;
      height: 200px;

      img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 1px solid #2222223e;
      }

      .videoBlock {
        border: 1px solid #2222223e;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        video {
          width: 100%;
          height: 100%;
        }

        // &::before {
        //   content: "";
        //   position: absolute;
        //   background: transparent;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   z-index: 10;
        //   width: 100%;
        //   height: 100%;
        // }
      }

      @media (max-width: 570px) {
        height: 150px;
      }

      @media (max-width: 430px) {
        height: 120px;
      }
    }
  }

  .mainSlider {
    width: 100%;
    height: 100%;

    img {
      object-fit: contain;
    }
  }
}
