.graphicsEveryTA {
  height: 100vh;
  position: relative;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: -60px;
    left: -40px;
    height: 100vh;

    .recharts-wrapper {
      .recharts-surface {
        width: 80% !important;
        height: 500px !important;
      }
    }

    @media (max-width: 768px) {
      padding: 0px;
    }

    &__info {
      position: absolute;
      left: 10px;
      bottom: 150px;

      > div {
        display: flex;
        align-items: center;
        gap: 7px;
        margin: 5px 0 0 0;

        > div {
          width: 20px;
          height: 15px;
        }
      }
    }
  }

  &__info {
    position: fixed;
    top: 60px;
    right: -15px;

    > div {
      width: 90%;
      display: flex;
      align-items: flex-start;
      gap: 5px;
      margin: 3px 0 0 0;

      div {
        width: 10px;
        height: 10px;
        background: red;
        margin: 3px 0 0 0;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
