* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  background: transparent;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.noneData {
  display: none;
}

.viewData {
  display: block;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.selectPosition {
  z-index: 11 !important;
  position: relative !important;
}

.select {
  .css-1nmdiq5-menu {
    > div {
      > div {
        @media (min-width: 920px) {
          padding: 4px 5px !important;
          font-size: 13px;
          overflow: hidden;
        }
      }
    }
  }
}

.scroll_table {
  &::-webkit-scrollbar {
    min-width: 7px;
    max-width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    min-width: 8px;
    max-width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    cursor: pointer;
    max-height: 135px;
    min-height: 135px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fffefe;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
  }
}

.standartTable {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.144) !important;
  border-radius: 5px !important;

  table {
    thead {
      tr {
        th:first-child {
          padding: 5px 0 5px 0px !important;
        }
        th {
          padding: 5px 8px !important;
          font-weight: 600;
          background: #edf2f9;
          color: #0e1726;
          font-size: 12px;
          font-weight: 600;
        }
        .titleCheckbox {
          padding-left: 15px !important;
        }
      }
    }

    tbody {
      tr {
        th:first-child {
          padding: 5px 0 5px 0px !important;
        }

        td,
        th {
          padding: 5px 8px !important;
          height: 10px;
          font-size: 12px !important;
          border-right: 1px solid #edf2f9;
          border-bottom: 1px solid #edf2f9;

          span {
            padding: 0 !important;
          }

          .counts {
            width: 100px;
            background: #fff;
            border-radius: 3px;
            border: 1px solid #e0e6ed;
            font-size: 13px;
            padding: 0px 5px;
            height: 20px;

            &:focus {
              border: 1px solid #e0e6ed;
              outline: none;
            }
          }
        }

        .footerTable {
          font-weight: bold !important;
          height: 30px !important;
        }

        .actionsDel {
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
        }
      }
    }
  }
}

.actionsBtnHeader {
}

@media (min-width: 920px) {
  .css-t3ipsp-control,
  .css-13cymwt-control {
    min-height: 10px !important;
  }

  .css-hlgwow {
    padding: 0px 5px !important;
  }

  .css-1xc3v61-indicatorContainer,
  .css-15lsz6c-indicatorContainer {
    padding: 0 3px !important;
  }

  .css-1dimb5e-singleValue {
    font-size: 12px;
  }

  .css-1xc3v61-indicatorContainer {
    width: 22px !important;
    height: 22px !important;

    svg {
      width: 18px !important;
      height: 18px !important;
    }
  }
}

.emptyData {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    font-size: 22px;
  }
}

.checkboxTable {
  display: flex;
  align-items: center;

  input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #e0e6ed !important;
    height: 23px;
  }
}
