.addSpending {
  .myInputs {
    h6 {
      font-size: 16px;
      margin: 0 0 3px 0;
      padding: 0 !important;
      background: transparent;
    }

    .css-13cymwt-control,
    .css-t3ipsp-control {
      height: 38px !important;
      cursor: pointer;
    }

    .css-1dimb5e-singleValue {
      font-size: 13px !important;
    }
  }
}
