.listsWareHome {
  &__inner {
    height: 100%;

    > div {
      height: 100%;

      .actionsDel {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
      }

      .footerTable {
        font-weight: bold !important;
        height: 30px !important;
      }
    }
  }
}
