.listInvoiceSI {
  width: 100% !important;

  .selectsAll {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0 10px 0;
    position: absolute;
    top: 62px;
    left: 0px;
    width: 100%;
    padding: 0 25px;
    z-index: 10;

    @media (max-width: 920px) {
      top: 55px;
    }

    @media (max-width: 700px) {
      margin: 5px 0px;
      top: 62px;
    }

    @media (max-width: 600px) {
      top: 55px;
    }

    &__inner {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 10px;
      width: 50%;

      .choiceSel {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        width: 100%;

        @media (max-width: 700px) {
          flex-wrap: wrap;
          width: 100% !important;
          gap: 3px;
          justify-content: space-between;
          padding: 5px 0 0 0;
        }

        .myInputs {
          width: 25%;
          max-width: 250px;
          cursor: pointer;
          position: relative;
          z-index: 10;

          @media (max-width: 700px) {
            width: 49%;
            max-width: 49%;
          }

          h6 {
            font-size: 13px;
            font-weight: 500;
            margin: 0 0 3px 0;
          }

          .select {
            .css-qbdosj-Input {
              height: 30px;
              cursor: pointer;
            }

            .css-13cymwt-control {
              border: 1px solid #e1dede !important;
              box-shadow: none !important;
              cursor: pointer;

              &:hover {
                border: 1px solid #6361615b !important;
                cursor: pointer;
              }
            }

            .css-t3ipsp-control {
              border: 1px solid #6361615b !important;
              box-shadow: none !important;
              cursor: pointer;
            }
          }

          .input {
            height: 27px;
            border-radius: 3px;
            border: 1px solid #e1dede !important;
            padding: 2px 10px;
            width: 100%;
            font-size: 13px;

            @media (max-width: 920px) {
              height: 38px;
            }

            @media (max-width: 700px) {
              font-size: 16px;
            }

            &::placeholder {
              color: #a9afb8;
            }

            &:focus {
              border: 1px solid #6a696987;
              outline: none;
            }
          }
        }

        .comment {
          max-width: 100%;
          min-width: 100%;
        }
      }
    }

    .saveAction {
      height: 30px;
      background: #299b31;
      padding: 1px 7px 3px;
      border-radius: 5px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      @media (max-width: 920px) {
        height: 38px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      @media (max-width: 700px) {
        position: fixed;
        left: 50%;
        bottom: 20px;
        width: 97%;
        transform: translateX(-50%);
        height: 45px;
        gap: 10px;
      }

      p {
        font-size: 12px;
        font-weight: 500;

        @media (max-width: 920px) {
          font-size: 14px;
        }

        @media (max-width: 700px) {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
