.customTooltipProds {
  background: #ffffffb3;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .info {
    .left {
      font-weight: 500;
    }
  }
}
