.returnProds {
  height: 100%;
  padding: 0px 7px 0 0;
  position: relative;
  margin: 0 0 0 8px;

  &__main {
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 0 0 10px 0;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a,
      0 1px 2px -1px #0000001a;
  }
}
.listTAInfo {
  width: 330px;
  max-width: 330px;
  min-width: 330px;
  margin: 0;
  background: #fff;
  border-radius: 7px;
  padding: 15px 5px 10px 5px;

  .date {
    width: 100%;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
    height: 100%;
    height: 35px;
    cursor: pointer;
    margin: 20px 0 0 0;

    p {
      position: absolute;
      left: 2px;
      top: -25px;
    }

    .react-datepicker-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      background: transparent;
    }

    input:last-child {
      height: 35px;
      border-radius: 5px;
      border: 1px solid #e1dede !important;
      padding: 2px 10px;
      width: 100%;
      font-size: 14px;
      background: transparent;

      &::placeholder {
        color: #6b72809e;
      }

      &:focus {
        border: 1px solid rgba(89, 89, 89, 0.529);
        outline: none;
      }
    }

    svg {
      width: 19px;
      height: 19px;
      position: absolute;
      top: 6px;
      right: 10px;
      color: #2222228a;
      z-index: 1;
    }

    .react-datepicker-wrapper {
      width: 100%;
    }

    .react-datepicker-popper {
      width: 320px;

      .react-datepicker {
        width: 100%;

        .react-datepicker__month-container {
          width: 100%;
        }
      }
    }

    .react-datepicker__input-container {
      input {
        font-size: 13px;
      }
    }
  }

  h6 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0 0 10px;
    font-weight: 600;
  }

  .line {
    margin: 10px 0px 0 0;
    width: 97%;
  }

  &__inner {
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: scroll;
    margin: 3px 0 0 0;
    padding: 0 5px 0 0;

    button {
      padding: 5px 3px 5px 10px;
      width: 100%;
      margin: 3px 0px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: transparent;
      border-radius: 5px;

      .logo {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .content {
        p {
          font-size: 13px;
          font-weight: 500;
          text-align: left;
          color: #222;
        }

        span {
          display: block;
          font-size: 11px;
          text-align: left;
          color: #222;
        }
      }
    }

    .active {
      background: #f3f4f6;
    }
  }
}
