.choiceDateForMap {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 0;

  &__date {
    display: flex;
    justify-content: center;

    > div {
      width: 50%;
      @media (max-width: 920px) {
        width: 100%;
      }
      > div {
        width: 50%;
        @media (max-width: 920px) {
          width: 100%;
        }

        .react-datepicker__month-container {
          width: 100%;

          .react-datepicker__day {
            width: 3.7rem;
            font-weight: 500;

            @media (max-width: 460px) {
              width: 13%;
              max-width: 13%;
            }
          }

          .react-datepicker__day-name {
            width: 3.7rem;
            font-weight: 500;

            @media (max-width: 460px) {
              width: 13%;
              max-width: 13%;
            }
          }
        }
      }
    }
    .react-datepicker {
      @media (max-width: 920px) {
        border: none !important;
      }

      &__header {
        padding-top: 15px !important;
      }
    }
  }
}
