.listProdCRUD {
  max-height: 100%;
  overflow-y: scroll;

  table {
    position: relative;
    thead {
      tr {
        th {
          padding: 5px 0 5px 10px !important;
          font-weight: 600;
          background: #23a5d9;
          color: #fff;
          border-right: 1px solid rgba(224, 224, 224, 1);
        }
        .titleCheckbox {
          padding-left: 15px !important;
        }
      }
    }

    tbody {
      tr {
        td,
        th {
          padding: 3px 10px 3px 10px !important;
          background: rgba(43, 165, 213, 0.43);
          height: 10px;
          font-size: 13px !important;
          border-right: 1px solid rgba(224, 224, 224, 1);

          span {
            padding: 0 !important;
          }

          input {
            background: red;
            width: 100px;
            background: #fff;
            border-radius: 3px;
            border: 1px solid #e1dede !important;
            font-size: 13px;
            padding: 0px 5px;

            &::placeholder {
              color: #a9afb8;
            }

            &:focus {
              border: 1px solid #6a696987;
              outline: none;
            }
          }

          .checkboxInner {
            width: 16px;
            height: 16px;
            cursor: pointer;
          }

          .counts {
            height: 23px;
          }
        }

        .footerTable {
          font-weight: bold !important;
          height: 40px !important;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    min-width: 7px;
    max-width: 7px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    min-width: 7px;
    max-width: 7px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    cursor: pointer;
    max-height: 35px;
    min-height: 35px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fffefe;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #87b5e3;
    border-radius: 2px;
  }
}
